body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0a0a23, #1b1b4d);
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><circle cx="10" cy="10" r="1" fill="white" opacity="0.3"/><circle cx="50" cy="50" r="1.5" fill="white" opacity="0.5"/><circle cx="80" cy="20" r="1" fill="white" opacity="0.4"/></svg>') repeat;
    opacity: 0.2;
    z-index: -1;
}

.lista {
    width: 70%;
    height: 15vh;
    border: 1px solid black;
    background: url(./../img/pruebas.jpeg);
    margin: 20px;
    border-radius: 24px;
    transition: all 2s ease;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista:hover {
    transform: scale(1.05);
}

.tituloPrincipal h1 {
    display: flex;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0px 5px 5px rgb(247, 0, 255);
    margin-bottom: 5vh;
    margin-top: 5vh;
    transition: transform 2s ease, opacity 1s ease;
    transform: translateY(0);
}

.tituloPrincipal p {
    font-size: 2rem;
    width: 70%;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgb(195, 0, 255);
}

.tituloPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.lista p {
    font-size: 1.1rem;
    text-decoration: none;
}

.lista em {
    font-size: 2.5rem;
    text-decoration: none;
}

.lista a {
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.lista img {
    height: 100%;
    max-width: 100px;
    object-fit: cover;
    animation: vueltas 4s linear infinite;
    border-radius: 50%;
}

@keyframes vueltas {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#primera {
    background: url(./../img//fondo1.jpg);
}

#segunda {
    background: url(./../img/fondo2.jpg) 0px -260px;
}

#tercera {
    background: url(./../img/fondo3.jpg) 0px -500px;
}

#cuarta {
    background: url(./../img/fondo4.jpg);
}

#quinta {
    background: url(./../img/canciones1.jpg) 0px -80px;
}