body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0a0a23, #1b1b4d);
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><circle cx="10" cy="10" r="1" fill="white" opacity="0.3"/><circle cx="50" cy="50" r="1.5" fill="white" opacity="0.5"/><circle cx="80" cy="20" r="1" fill="white" opacity="0.4"/></svg>') repeat;
    opacity: 0.2;
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.poemas {
    width: 250px;
    height: 500px;
    opacity: 0.3;
    transition: all 2.5s ease;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.poemas:hover {
    width: 300px;
    height: 500px;
    opacity: 1;
    transform: scale(1.1);
}

.poemas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    display: flex;
    font-size: 1.8rem;
    color: #ffff;
    font-weight: 900;
    text-shadow: 0px 5px 5px rgb(247, 0, 255);
    margin-bottom: 5vh;
    transition: transform 2s ease, opacity 1s ease;
    transform: translateY(0);
}

@media (max-width: 600px) {
    .poemas {
        width: 150px;
        height: 300px;
    }

    .poemas:hover {
        width: 180px;
        height: 300px;
    }

    .titulo {
        font-size: 1.2rem;
        margin-bottom: 3vh;
    }
}